.chatHistoryStyle {
    word-Break: break-word ;
    max-height: 600px;
    min-width: auto ;
    overflow: auto;
    /* Additional styles can be added here */
}

.pageTitle {
    text-align: center; 
    font-weight: bold; 
    color: black;
}

.table.is-borderless td, 
.table.is-borderless th {
  border: none;
  background-color: rgb(235, 255, 252);
}

#myButton:active{
  background-color:forestgreen;
}